transformers==4.40.0
torch==2.2.0
fastapi==0.111.0
uvicorn==0.29.0
pymongo==4.7.1
langdetect==1.0.9
emoji==2.12.1
streamlit==1.35.0
pandas==2.2.2
plotly==5.22.0
scikit-learn==1.5.0
sentence-transformers==3.0.0
python-dotenv==1.0.1
datasets==2.19.0
accelerate==0.30.0
huggingface-hub==0.23.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
seaborn==0.13.2
matplotlib==3.9.0
